@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    My best software company<br />
    Barcelona, BCN 08012<br />
    <abbr title="Phone">Phone:</abbr>
    xxx-xxx-xxxx
</address>

<address>
    <strong>Development:</strong> <a href="mailto:softwarequality@sw.dev.com">softwarequality@sw.dev.com</a>
</address>