<div class="row">
    <div class="col-md-8">
        <h2><strong class="text-danger">Ejercicio: 3</strong></h2>
        <h3>Bootstrap responsive</h3>
        <p>
            Bootstrap sets basic global display, typography, and link styles. Specifically, we:
            Set background-color: #fff; on the body
            Use the font-family-base, font-size-base, and line-height-base attributes as our typographic base""
            Set the global link color via link-color and apply link underlines only on :hover
            These styles can be found within scaffolding.less.
        </p>
        <p><a class="btn btn-sm btn-info" href="https://getbootstrap.com/docs/3.3/css/">More Bootstrap Info</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mobile first</h2>
        <p>This App run over mobiles edges</p>
        <p>
            Bootstrap requires a containing element to wrap site contents and house our grid system. You may choose one of two containers to use in your projects.
            Note that, due to padding and more, neither container is nestable.
            Use .container for a responsive fixed width container.
        </p>
        <p><a class="btn btn-sm btn-success btn-large" href="https://getbootstrap.com/docs/3.3/css/">More Bootstrap Info</a></p>
    </div>
</div>